<!-- <p>modal works!</p> -->
<div class="overlay">
  <div class="drop-shadow modal-content" (click)="preventModalClose($event)">
    <!-- @todo modal content -->
    <div class="modal-head">
      <div class="email-pay">
        <div class="email">{{ email }}</div>
        <div class="price">
          Pay Gh&#8373; <span>{{ price }}</span>
        </div>
      </div>
      <div>
        <p class="toggle-payment">SELECT METHOD TO PAY WITH</p>
        <div class="payment">
          <div
            class="ccpay pay"
            (click)="togglePaymentMethod('cc')"
            [ngStyle]="{ border: showcc ? '2px solid green' : '' }"
          >
            Credit Card
          </div>
          <div
            class="momopay pay"
            (click)="togglePaymentMethod('momo')"
            [ngStyle]="{ border: showmomo ? '2px solid green' : '' }"
          >
            Mobile Money
          </div>
        </div>
      </div>
    </div>

    <!-- Select Method to pay with -Show credit card form -->
    <div *ngIf="showcc">
      <app-payment-form
        [price]="price"
        [email]="email"
        [paymentStatus]="paymentStatus"
      ></app-payment-form>
    </div>

    <!-- Select Method to pay with -Show momo form -->
    <div *ngIf="showmomo">
      <app-momoform
        [price]="price"
        [email]="email"
        [paymentStatus]="paymentStatus"
      ></app-momoform>
    </div>

    <!-- If payment response is success or pending -->
    <div
      class="payment-status success"
      *ngIf="paymentStatus.status === 'success'"
    >
      <app-status [paymentStatus]="paymentStatus"></app-status>
    </div>

    <!-- If payment response is failure -->
    <div class="payment-status" *ngIf="paymentStatus.status === 'failure'">
      <app-failed-status [paymentStatus]="paymentStatus"></app-failed-status>
    </div>

    <!-- If payment status is pending, require otp -->
    <div *ngIf="paymentStatus.status ==='pending' " class="payment-status">
      <app-otp [paymentStatus]="paymentStatus"></app-otp>
    </div>
    <p class="cancel-payment" (click)="cancelPayment()">cancel payment</p>
  </div>
</div>
