<div class="payment-stat">
  <div class="otp-status" *ngIf="otpValid">
    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
      <style>
        svg {
          fill: #20511f;
        }
      </style>
      <path
        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
      />
    </svg>
  </div>
  <div class="response-message">
    {{ paymentStatus.message }}
  </div>
  <form [formGroup]="otpForm" class="otpform" (ngSubmit)="onSubmit()">
    <div class="input">
      <!-- <label for="otp">Enter OTP:</label> -->
      <input
        type="text"
        name="otp"
        id="otp"
        placeholder="correct otp 4444"
        formControlName="otp"
      />
      <div class="error" *ngIf="otpForm.get('otp')?.hasError('pattern')">
        Number must be exactly 4 digits.
      </div>
    </div>
    <button>confirm otp</button>
    <p class="error">{{ otpInvalid }}</p>
  </form>
</div>
