<form
  [formGroup]="creditCardForm"
  id="creditCardForm"
  class="paymentForm"
  (ngSubmit)="onSubmit()"
>
  <p class="payment-header">Enter Credit Card Details</p>

  <div class="input">
    <label for="cardName">Card Holder:</label>
    <input
      type="text"
      id="cardName"
      formControlName="cardName"
      placeholder="John Doe"
      required
    />
    <div
      class="error"
      *ngIf="creditCardForm.get('cardName')?.hasError('pattern')"
    >
      Enter valid card holder name.
    </div>
  </div>

  <div class="input">
    <label for="cardNumber">Card Number:</label>
    <input
      type="text"
      id="cardNumber"
      formControlName="cardNumber"
      placeholder="5555 5555 5555 5555"
      required
    />
    <div
      class="error"
      *ngIf="creditCardForm.get('cardNumber')?.hasError('pattern')"
    >
      Invalid card number format.
    </div>
  </div>

  <div class="input">
    <label for="cardCvv">Cvv:</label>
    <input
      type="text"
      id="cardCvv"
      formControlName="cardCvv"
      placeholder="256"
      required
    />
    <div
      class="error"
      *ngIf="creditCardForm.get('cardCvv')?.hasError('pattern')"
    >
      Invalid card cvv format.
    </div>
  </div>
  <div class="input">
    <label for="cardExpiry">Card Expiry:</label>
    <input
      type="text"
      id="cardExpiry"
      formControlName="cardExpiry"
      placeholder="12/2023"
      required
    />
    <div
      class="error"
      *ngIf="creditCardForm.get('cardExpiry')?.hasError('pattern')"
    >
      Invalid expiry format.
    </div>
  </div>

  <!-- credit card form ends here -->

  <!-- <p class="status">{{ status }}</p> -->
  <button
    type="submit"
    id="submitCCPayment"
    class="btn"
    [disabled]="creditCardForm.invalid"
  >
    Checkout
  </button>
</form>
