<form id="ccForm" class="paymentForm" (ngSubmit)="onSubmit()">
  <!-- credit card form starts here -->
  <p class="payment-header">Enter Credit Card Details</p>

  <div class="input">
    <label for="card-name">Name On Card:</label>
    <input
      type="text"
      id="card-name"
      name="cardName"
      [(ngModel)]="cardName"
      placeholder="Name on card"
      required
    />
  </div>

  <div class="input">
    <label for="card-number">Card Number:</label>
    <input
      type=""
      id="card-number"
      name="cardNumber"
      [(ngModel)]="cardNumber"
      placeholder="Card Number"
      min="15"
      max="16"
      required
    />
  </div>

  <div class="input">
    <label for="expiry-date">Expiry Date:</label>
    <input
      type="text"
      id="expiry-date"
      name="cardExpiry"
      [(ngModel)]="cardExpiry"
      placeholder="MM/YY"
      required
    />
  </div>
  <div class="input">
    <label for="cvv">Cvv:</label>
    <input
      type="text"
      id="cvv"
      name="cardCvv"
      [(ngModel)]="cardCvv"
      placeholder="123"
      min="3"
      max="3"
      required
    />
  </div>

  <!-- credit card form ends here -->

  <p class="status">{{ status }}</p>
  <button type="submit" id="submitCCPayment" class="btn">Checkout</button>
</form>
