<form
  [formGroup]="momoForm"
  id="momoForm"
  class="paymentForm"
  (ngSubmit)="onSubmit()"
>
  <!-- momo form starts here -->

  <p class="payment-header">Enter Mobile Money Details</p>

  <div class="input">
    <label for="momo_provider">Choose Mobile Money Operator</label>
    <select id="momo_provider" formControlName="momo_provider">
      <option class="select-momo" value="mtn">MTN Mobile Money</option>
      <option value="vodafone">Vodafone Cash</option>
      <option value="airteltigo">AirtelTigo Money</option>
    </select>
  </div>
  <div class="input">
    <label for="momoNumber">Mobile Money Number</label>
    <input
      type="text"
      id="momoNumber"
      formControlName="momoNumber"
      placeholder="10 digit number"
    />
    <div class="error" *ngIf="momoForm.get('momoNumber')?.hasError('pattern')">
      Number must be exactly 10 digits.
    </div>
  </div>
  <button
    [disabled]="momoForm.invalid"
    type="submit"
    id="submitMomoPayment"
    class="btn"
  >
    Checkout
  </button>

  <!-- momo form fields ends here -->
</form>
